<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boards</key>
	<array>
		<dict>
			<key>short</key>
			<string>uno</string>
			<key>name</key>
			<string>Arduino Uno</string>
			<key>upload.protocol</key>
			<string>arduino</string>
			<key>upload.maximum_size</key>
			<integer>32256</integer>
			<key>upload.speed</key>
			<integer>115200</integer>
			<key>bootloader.low_fuses</key>
			<string>0xff</string>
			<key>bootloader.high_fuses</key>
			<string>0xde</string>
			<key>bootloader.extended_fuses</key>
			<string>0x05</string>
			<key>bootloader.path</key>
			<string>optiboot</string>
			<key>bootloader.file</key>
			<string>optiboot_atmega328.hex</string>
			<key>bootloader.unlock_bits</key>
			<string>0x3F</string>
			<key>bootloader.lock_bits</key>
			<string>0x0F</string>
			<key>build.mcu</key>
			<string>atmega328p</string>
			<key>build.f_cpu</key>
			<string>16000000L</string>
			<key>build.core</key>
			<string>arduino</string>
			<key>build.variant</key>
			<string>standard</string>
		</dict>
		<dict>
			<key>short</key>
			<string>atmega328</string>
			<key>name</key>
			<string>Arduino Duemilanove</string>
			<key>upload.protocol</key>
			<string>arduino</string>
			<key>upload.maximum_size</key>
			<integer>30720</integer>
			<key>upload.speed</key>
			<integer>57600</integer>
			<key>bootloader.low_fuses</key>
			<string>0xFF</string>
			<key>bootloader.high_fuses</key>
			<string>0xDA</string>
			<key>bootloader.extended_fuses</key>
			<string>0x05</string>
			<key>bootloader.path</key>
			<string>atmega</string>
			<key>bootloader.file</key>
			<string>ATmegaBOOT_168_atmega328.hex</string>
			<key>bootloader.unlock_bits</key>
			<string>0x3F</string>
			<key>bootloader.lock_bits</key>
			<string>0x0F</string>
			<key>build.mcu</key>
			<string>atmega328p</string>
			<key>build.f_cpu</key>
			<string>16000000L</string>
			<key>build.core</key>
			<string>arduino</string>
			<key>build.variant</key>
			<string>standard</string>
		</dict>
		<dict>
			<key>short</key>
			<string>diecimila</string>
			<key>name</key>
			<string>Arduino Diecimila or Duemilanove (ATmega168)</string>
			<key>upload.protocol</key>
			<string>arduino</string>
			<key>upload.maximum_size</key>
			<integer>14336</integer>
			<key>upload.speed</key>
			<integer>19200</integer>
			<key>bootloader.low_fuses</key>
			<string>0xff</string>
			<key>bootloader.high_fuses</key>
			<string>0xdd</string>
			<key>bootloader.extended_fuses</key>
			<string>0x00</string>
			<key>bootloader.path</key>
			<string>atmega</string>
			<key>bootloader.file</key>
			<string>ATmegaBOOT_168_diecimila.hex</string>
			<key>bootloader.unlock_bits</key>
			<string>0x3F</string>
			<key>bootloader.lock_bits</key>
			<string>0x0F</string>
			<key>build.mcu</key>
			<string>atmega168</string>
			<key>build.f_cpu</key>
			<string>16000000L</string>
			<key>build.core</key>
			<string>arduino</string>
			<key>build.variant</key>
			<string>standard</string>
		</dict>
		<dict>
			<key>short</key>
			<string>nano328</string>
			<key>name</key>
			<string>Arduino Nano</string>
			<key>upload.protocol</key>
			<string>arduino</string>
			<key>upload.maximum_size</key>
			<integer>30720</integer>
			<key>upload.speed</key>
			<integer>57600</integer>
			<key>bootloader.low_fuses</key>
			<string>0xFF</string>
			<key>bootloader.high_fuses</key>
			<string>0xDA</string>
			<key>bootloader.extended_fuses</key>
			<string>0x05</string>
			<key>bootloader.path</key>
			<string>atmega</string>
			<key>bootloader.file</key>
			<string>ATmegaBOOT_168_atmega328.hex</string>
			<key>bootloader.unlock_bits</key>
			<string>0x3F</string>
			<key>bootloader.lock_bits</key>
			<string>0x0F</string>
			<key>build.mcu</key>
			<string>atmega328p</string>
			<key>build.f_cpu</key>
			<string>16000000L</string>
			<key>build.core</key>
			<string>arduino</string>
			<key>build.variant</key>
			<string>eightanaloginputs</string>
		</dict>
		<dict>
			<key>short</key>
			<string>nano</string>
			<key>name</key>
			<string>Arduino Nano (ATmega168)</string>
			<key>upload.protocol</key>
			<string>arduino</string>
			<key>upload.maximum_size</key>
			<integer>14336</integer>
			<key>upload.speed</key>
			<integer>19200</integer>
			<key>bootloader.low_fuses</key>
			<string>0xff</string>
			<key>bootloader.high_fuses</key>
			<string>0xdd</string>
			<key>bootloader.extended_fuses</key>
			<string>0x00</string>
			<key>bootloader.path</key>
			<string>atmega</string>
			<key>bootloader.file</key>
			<string>ATmegaBOOT_168_diecimila.hex</string>
			<key>bootloader.unlock_bits</key>
			<string>0x3F</string>
			<key>bootloader.lock_bits</key>
			<string>0x0F</string>
			<key>build.mcu</key>
			<string>atmega168</string>
			<key>build.f_cpu</key>
			<string>16000000L</string>
			<key>build.core</key>
			<string>arduino</string>
			<key>build.variant</key>
			<string>eightanaloginputs</string>
		</dict>
		<dict>
			<key>short</key>
			<string>mega2560</string>
			<key>name</key>
			<string>Arduino Mega 2560 or Mega ADK</string>
			<key>upload.protocol</key>
			<string>stk500v2</string>
			<key>upload.maximum_size</key>
			<integer>258048</integer>
			<key>upload.speed</key>
			<integer>115200</integer>
			<key>bootloader.low_fuses</key>
			<string>0xFF</string>
			<key>bootloader.high_fuses</key>
			<string>0xD8</string>
			<key>bootloader.extended_fuses</key>
			<string>0xFD</string>
			<key>bootloader.path</key>
			<string>stk500v2</string>
			<key>bootloader.file</key>
			<string>stk500boot_v2_mega2560.hex</string>
			<key>bootloader.unlock_bits</key>
			<string>0x3F</string>
			<key>bootloader.lock_bits</key>
			<string>0x0F</string>
			<key>build.mcu</key>
			<string>atmega2560</string>
			<key>build.f_cpu</key>
			<string>16000000L</string>
			<key>build.core</key>
			<string>arduino</string>
			<key>build.variant</key>
			<string>mega</string>
		</dict>
		<dict>
			<key>short</key>
			<string>mega</string>
			<key>name</key>
			<string>Arduino Mega (ATmega1280)</string>
			<key>upload.protocol</key>
			<string>arduino</string>
			<key>upload.maximum_size</key>
			<integer>126976</integer>
			<key>upload.speed</key>
			<integer>57600</integer>
			<key>bootloader.low_fuses</key>
			<string>0xFF</string>
			<key>bootloader.high_fuses</key>
			<string>0xDA</string>
			<key>bootloader.extended_fuses</key>
			<string>0xF5</string>
			<key>bootloader.path</key>
			<string>atmega</string>
			<key>bootloader.file</key>
			<string>ATmegaBOOT_168_atmega1280.hex</string>
			<key>bootloader.unlock_bits</key>
			<string>0x3F</string>
			<key>bootloader.lock_bits</key>
			<string>0x0F</string>
			<key>build.mcu</key>
			<string>atmega1280</string>
			<key>build.f_cpu</key>
			<string>16000000L</string>
			<key>build.core</key>
			<string>arduino</string>
			<key>build.variant</key>
			<string>mega</string>
		</dict>
		<dict>
			<key>short</key>
			<string>#leonardo</string>
			<key>name</key>
			<string>Arduino Leonardo</string>
			<key>upload.protocol</key>
			<string>arduino</string>
			<key>upload.maximum_size</key>
			<integer>28672</integer>
			<key>upload.speed</key>
			<integer>1200</integer>
			<key>bootloader.low_fuses</key>
			<string>0xde</string>
			<key>bootloader.high_fuses</key>
			<string>0xd8</string>
			<key>bootloader.extended_fuses</key>
			<string>0xcb</string>
			<key>bootloader.path</key>
			<string>diskloader</string>
			<key>bootloader.file</key>
			<string>DiskLoader-Leonardo.hex</string>
			<key>bootloader.unlock_bits</key>
			<string>0x3F</string>
			<key>bootloader.lock_bits</key>
			<string>0x2F</string>
			<key>build.mcu</key>
			<string>atmega32u4</string>
			<key>build.f_cpu</key>
			<string>16000000L</string>
			<key>build.core</key>
			<string>arduino</string>
			<key>build.variant</key>
			<string>leonardo</string>
		</dict>
		<dict>
			<key>short</key>
			<string>#micro</string>
			<key>name</key>
			<string>Arduino Micro</string>
			<key>upload.protocol</key>
			<string>arduino</string>
			<key>upload.maximum_size</key>
			<integer>30720</integer>
			<key>upload.speed</key>
			<integer>1200</integer>
			<key>bootloader.low_fuses</key>
			<string>0xde</string>
			<key>bootloader.high_fuses</key>
			<string>0xda</string>
			<key>bootloader.extended_fuses</key>
			<string>0xcb</string>
			<key>bootloader.path</key>
			<string>diskloader</string>
			<key>bootloader.file</key>
			<string>DiskLoader-Micro.hex</string>
			<key>bootloader.unlock_bits</key>
			<string>0x3F</string>
			<key>bootloader.lock_bits</key>
			<string>0x2F</string>
			<key>build.mcu</key>
			<string>atmega32u4</string>
			<key>build.f_cpu</key>
			<string>16000000L</string>
			<key>build.core</key>
			<string>arduino</string>
			<key>build.variant</key>
			<string>micro</string>
		</dict>
		<dict>
			<key>short</key>
			<string>mini328</string>
			<key>name</key>
			<string>Arduino Mini</string>
			<key>upload.protocol</key>
			<string>stk500</string>
			<key>upload.maximum_size</key>
			<integer>28672</integer>
			<key>upload.speed</key>
			<integer>115200</integer>
			<key>bootloader.low_fuses</key>
			<string>0xff</string>
			<key>bootloader.high_fuses</key>
			<string>0xd8</string>
			<key>bootloader.extended_fuses</key>
			<string>0x05</string>
			<key>bootloader.path</key>
			<string>optiboot</string>
			<key>bootloader.file</key>
			<string>optiboot_atmega328-Mini.hex</string>
			<key>bootloader.unlock_bits</key>
			<string>0x3F</string>
			<key>bootloader.lock_bits</key>
			<string>0x0F</string>
			<key>build.mcu</key>
			<string>atmega328p</string>
			<key>build.f_cpu</key>
			<string>16000000L</string>
			<key>build.core</key>
			<string>arduino</string>
			<key>build.variant</key>
			<string>eightanaloginputs</string>
		</dict>
		<dict>
			<key>short</key>
			<string>mini</string>
			<key>name</key>
			<string>Arduino Mini (ATmega168)</string>
			<key>upload.protocol</key>
			<string>arduino</string>
			<key>upload.maximum_size</key>
			<integer>14336</integer>
			<key>upload.speed</key>
			<integer>19200</integer>
			<key>bootloader.low_fuses</key>
			<string>0xff</string>
			<key>bootloader.high_fuses</key>
			<string>0xdd</string>
			<key>bootloader.extended_fuses</key>
			<string>0x00</string>
			<key>bootloader.path</key>
			<string>atmega</string>
			<key>bootloader.file</key>
			<string>ATmegaBOOT_168_ng.hex</string>
			<key>bootloader.unlock_bits</key>
			<string>0x3F</string>
			<key>bootloader.lock_bits</key>
			<string>0x0F</string>
			<key>build.mcu</key>
			<string>atmega168</string>
			<key>build.f_cpu</key>
			<string>16000000L</string>
			<key>build.core</key>
			<string>arduino</string>
			<key>build.variant</key>
			<string>eightanaloginputs</string>
		</dict>
		<dict>
			<key>short</key>
			<string>ethernet</string>
			<key>name</key>
			<string>Arduino Ethernet</string>
			<key>upload.protocol</key>
			<string>arduino</string>
			<key>upload.maximum_size</key>
			<integer>32256</integer>
			<key>upload.speed</key>
			<integer>115200</integer>
			<key>bootloader.low_fuses</key>
			<string>0xff</string>
			<key>bootloader.high_fuses</key>
			<string>0xde</string>
			<key>bootloader.extended_fuses</key>
			<string>0x05</string>
			<key>bootloader.path</key>
			<string>optiboot</string>
			<key>bootloader.file</key>
			<string>optiboot_atmega328.hex</string>
			<key>bootloader.unlock_bits</key>
			<string>0x3F</string>
			<key>bootloader.lock_bits</key>
			<string>0x0F</string>
			<key>build.mcu</key>
			<string>atmega328p</string>
			<key>build.f_cpu</key>
			<string>16000000L</string>
			<key>build.core</key>
			<string>arduino</string>
			<key>build.variant</key>
			<string>standard</string>
		</dict>
		<dict>
			<key>short</key>
			<string>fio</string>
			<key>name</key>
			<string>Arduino Fio</string>
			<key>upload.protocol</key>
			<string>arduino</string>
			<key>upload.maximum_size</key>
			<integer>30720</integer>
			<key>upload.speed</key>
			<integer>57600</integer>
			<key>bootloader.low_fuses</key>
			<string>0xFF</string>
			<key>bootloader.high_fuses</key>
			<string>0xDA</string>
			<key>bootloader.extended_fuses</key>
			<string>0x05</string>
			<key>bootloader.path</key>
			<string>arduino:atmega</string>
			<key>bootloader.file</key>
			<string>ATmegaBOOT_168_atmega328_pro_8MHz.hex</string>
			<key>bootloader.unlock_bits</key>
			<string>0x3F</string>
			<key>bootloader.lock_bits</key>
			<string>0x0F</string>
			<key>build.mcu</key>
			<string>atmega328p</string>
			<key>build.f_cpu</key>
			<string>8000000L</string>
			<key>build.core</key>
			<string>arduino</string>
			<key>build.variant</key>
			<string>eightanaloginputs</string>
		</dict>
		<dict>
			<key>short</key>
			<string>bt328</string>
			<key>name</key>
			<string>Arduino Bluetooth</string>
			<key>upload.protocol</key>
			<string>arduino</string>
			<key>upload.maximum_size</key>
			<integer>28672</integer>
			<key>upload.speed</key>
			<integer>19200</integer>
			<key>upload.disable_flushing</key>
			<true/>
			<key>bootloader.low_fuses</key>
			<string>0xff</string>
			<key>bootloader.high_fuses</key>
			<string>0xd8</string>
			<key>bootloader.extended_fuses</key>
			<string>0x05</string>
			<key>bootloader.path</key>
			<string>bt</string>
			<key>bootloader.file</key>
			<string>ATmegaBOOT_168_atmega328_bt.hex</string>
			<key>bootloader.unlock_bits</key>
			<string>0x3F</string>
			<key>bootloader.lock_bits</key>
			<string>0x0F</string>
			<key>build.mcu</key>
			<string>atmega328p</string>
			<key>build.f_cpu</key>
			<string>16000000L</string>
			<key>build.core</key>
			<string>arduino</string>
			<key>build.variant</key>
			<string>eightanaloginputs</string>
		</dict>
		<dict>
			<key>short</key>
			<string>bt328</string>
			<key>name</key>
			<string>Arduino Bluetooth (ATmega168)</string>
			<key>upload.protocol</key>
			<string>arduino</string>
			<key>upload.maximum_size</key>
			<integer>14336</integer>
			<key>upload.speed</key>
			<integer>19200</integer>
			<key>upload.disable_flushing</key>
			<true/>
			<key>bootloader.low_fuses</key>
			<string>0xff</string>
			<key>bootloader.high_fuses</key>
			<string>0xdd</string>
			<key>bootloader.extended_fuses</key>
			<string>0x00</string>
			<key>bootloader.path</key>
			<string>bt</string>
			<key>bootloader.file</key>
			<string>ATmegaBOOT_168.hex</string>
			<key>bootloader.unlock_bits</key>
			<string>0x3F</string>
			<key>bootloader.lock_bits</key>
			<string>0x0F</string>
			<key>build.mcu</key>
			<string>atmega168</string>
			<key>build.f_cpu</key>
			<string>16000000L</string>
			<key>build.core</key>
			<string>arduino</string>
			<key>build.variant</key>
			<string>eightanaloginputs</string>
		</dict>
		<dict>
			<key>short</key>
			<string>lilypad328</string>
			<key>name</key>
			<string>Arduino LilyPad</string>
			<key>upload.protocol</key>
			<string>arduino</string>
			<key>upload.maximum_size</key>
			<integer>30720</integer>
			<key>upload.speed</key>
			<integer>57600</integer>
			<key>bootloader.low_fuses</key>
			<string>0xFF</string>
			<key>bootloader.high_fuses</key>
			<string>0xDA</string>
			<key>bootloader.extended_fuses</key>
			<string>0x05</string>
			<key>bootloader.path</key>
			<string>atmega</string>
			<key>bootloader.file</key>
			<string>ATmegaBOOT_168_atmega328_pro_8MHz.hex</string>
			<key>bootloader.unlock_bits</key>
			<string>0x3F</string>
			<key>bootloader.lock_bits</key>
			<string>0x0F</string>
			<key>build.mcu</key>
			<string>atmega328p</string>
			<key>build.f_cpu</key>
			<string>8000000L</string>
			<key>build.core</key>
			<string>arduino</string>
			<key>build.variant</key>
			<string>standard</string>
		</dict>
		<dict>
			<key>short</key>
			<string>lilypad</string>
			<key>name</key>
			<string>Arduino LilyPad (ATmega168)</string>
			<key>upload.protocol</key>
			<string>arduino</string>
			<key>upload.maximum_size</key>
			<integer>14336</integer>
			<key>upload.speed</key>
			<integer>19200</integer>
			<key>bootloader.low_fuses</key>
			<string>0xe2</string>
			<key>bootloader.high_fuses</key>
			<string>0xdd</string>
			<key>bootloader.extended_fuses</key>
			<string>0x00</string>
			<key>bootloader.path</key>
			<string>lilypad</string>
			<key>bootloader.file</key>
			<string>LilyPadBOOT_168.hex</string>
			<key>bootloader.unlock_bits</key>
			<string>0x3F</string>
			<key>bootloader.lock_bits</key>
			<string>0x0F</string>
			<key>build.mcu</key>
			<string>atmega168</string>
			<key>build.f_cpu</key>
			<string>8000000L</string>
			<key>build.core</key>
			<string>arduino</string>
			<key>build.variant</key>
			<string>standard</string>
		</dict>
		<dict>
			<key>short</key>
			<string>pro5v328</string>
			<key>name</key>
			<string>Arduino Pro or Pro Mini (5V)</string>
			<key>upload.protocol</key>
			<string>arduino</string>
			<key>upload.maximum_size</key>
			<integer>30720</integer>
			<key>upload.speed</key>
			<integer>57600</integer>
			<key>bootloader.low_fuses</key>
			<string>0xFF</string>
			<key>bootloader.high_fuses</key>
			<string>0xDA</string>
			<key>bootloader.extended_fuses</key>
			<string>0x05</string>
			<key>bootloader.path</key>
			<string>atmega</string>
			<key>bootloader.file</key>
			<string>ATmegaBOOT_168_atmega328.hex</string>
			<key>bootloader.unlock_bits</key>
			<string>0x3F</string>
			<key>bootloader.lock_bits</key>
			<string>0x0F</string>
			<key>build.mcu</key>
			<string>atmega328p</string>
			<key>build.f_cpu</key>
			<string>16000000L</string>
			<key>build.core</key>
			<string>arduino</string>
			<key>build.variant</key>
			<string>standard</string>
		</dict>
		<dict>
			<key>short</key>
			<string>pro5v</string>
			<key>name</key>
			<string>Arduino Pro or Pro Mini (5V, ATmega168)</string>
			<key>upload.protocol</key>
			<string>arduino</string>
			<key>upload.maximum_size</key>
			<integer>30720</integer>
			<key>upload.speed</key>
			<integer>57600</integer>
			<key>bootloader.low_fuses</key>
			<string>0xFF</string>
			<key>bootloader.high_fuses</key>
			<string>0xDA</string>
			<key>bootloader.extended_fuses</key>
			<string>0x05</string>
			<key>bootloader.path</key>
			<string>atmega</string>
			<key>bootloader.file</key>
			<string>ATmegaBOOT_168_atmega328.hex</string>
			<key>bootloader.unlock_bits</key>
			<string>0x3F</string>
			<key>bootloader.lock_bits</key>
			<string>0x0F</string>
			<key>build.mcu</key>
			<string>atmega328p</string>
			<key>build.f_cpu</key>
			<string>16000000L</string>
			<key>build.core</key>
			<string>arduino</string>
			<key>build.variant</key>
			<string>standard</string>
		</dict>
		<dict>
			<key>short</key>
			<string>pro328</string>
			<key>name</key>
			<string>Arduino Pro or Pro Mini</string>
			<key>upload.protocol</key>
			<string>arduino</string>
			<key>upload.maximum_size</key>
			<integer>14336</integer>
			<key>upload.speed</key>
			<integer>19200</integer>
			<key>bootloader.low_fuses</key>
			<string>0xff</string>
			<key>bootloader.high_fuses</key>
			<string>0xdd</string>
			<key>bootloader.extended_fuses</key>
			<string>0x00</string>
			<key>bootloader.path</key>
			<string>atmega</string>
			<key>bootloader.file</key>
			<string>ATmegaBOOT_168_diecimila.hex</string>
			<key>bootloader.unlock_bits</key>
			<string>0x3F</string>
			<key>bootloader.lock_bits</key>
			<string>0x0F</string>
			<key>build.mcu</key>
			<string>atmega168</string>
			<key>build.f_cpu</key>
			<string>16000000L</string>
			<key>build.core</key>
			<string>arduino</string>
			<key>build.variant</key>
			<string>standard</string>
		</dict>
		<dict>
			<key>short</key>
			<string>pro</string>
			<key>name</key>
			<string>Arduino Pro or Pro Mini (ATmega168)</string>
			<key>upload.protocol</key>
			<string>arduino</string>
			<key>upload.maximum_size</key>
			<integer>14336</integer>
			<key>upload.speed</key>
			<integer>19200</integer>
			<key>bootloader.low_fuses</key>
			<string>0xc6</string>
			<key>bootloader.high_fuses</key>
			<string>0xdd</string>
			<key>bootloader.extended_fuses</key>
			<string>0x00</string>
			<key>bootloader.path</key>
			<string>atmega</string>
			<key>bootloader.file</key>
			<string>ATmegaBOOT_168_pro_8MHz.hex</string>
			<key>bootloader.unlock_bits</key>
			<string>0x3F</string>
			<key>bootloader.lock_bits</key>
			<string>0x0F</string>
			<key>build.mcu</key>
			<string>atmega168</string>
			<key>build.f_cpu</key>
			<string>8000000L</string>
			<key>build.core</key>
			<string>arduino</string>
			<key>build.variant</key>
			<string>standard</string>
		</dict>
		<dict>
			<key>short</key>
			<string>atmega168</string>
			<key>name</key>
			<string>Arduino NG or Older</string>
			<key>upload.protocol</key>
			<string>arduino</string>
			<key>upload.maximum_size</key>
			<integer>14336</integer>
			<key>upload.speed</key>
			<integer>19200</integer>
			<key>bootloader.low_fuses</key>
			<string>0xff</string>
			<key>bootloader.high_fuses</key>
			<string>0xdd</string>
			<key>bootloader.extended_fuses</key>
			<string>0x00</string>
			<key>bootloader.path</key>
			<string>atmega</string>
			<key>bootloader.file</key>
			<string>ATmegaBOOT_168_ng.hex</string>
			<key>bootloader.unlock_bits</key>
			<string>0x3F</string>
			<key>bootloader.lock_bits</key>
			<string>0x0F</string>
			<key>build.mcu</key>
			<string>atmega168</string>
			<key>build.f_cpu</key>
			<string>16000000L</string>
			<key>build.core</key>
			<string>arduino</string>
			<key>build.variant</key>
			<string>standard</string>
		</dict>
		<dict>
			<key>short</key>
			<string>atmega8</string>
			<key>name</key>
			<string>Arduino NG or Older (ATmega8)</string>
			<key>upload.protocol</key>
			<string>arduino</string>
			<key>upload.maximum_size</key>
			<integer>7168</integer>
			<key>upload.speed</key>
			<integer>19200</integer>
			<key>bootloader.low_fuses</key>
			<string>0xdf</string>
			<key>bootloader.high_fuses</key>
			<string>0xca</string>
			<key>bootloader.path</key>
			<string>atmega8</string>
			<key>bootloader.file</key>
			<string>ATmegaBOOT.hex</string>
			<key>bootloader.unlock_bits</key>
			<string>0x3F</string>
			<key>bootloader.lock_bits</key>
			<string>0x0F</string>
			<key>build.mcu</key>
			<string>atmega8</string>
			<key>build.f_cpu</key>
			<string>16000000L</string>
			<key>build.core</key>
			<string>arduino</string>
			<key>build.variant</key>
			<string>standard</string>
		</dict>
	</array>
</dict>
</plist>
